html, body {
	height: 100%;
}

body {
	background-color: #8c6655;
	margin: 0;
    text-shadow: 0 -1px 1px #333;
}

.page-wrap {
	width: 900px;
	margin: 0 auto;
	height: 100%;
}

.slide {
	min-height: 100%;
	color: white;
	margin-bottom: 20px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.slide > h1,
.slide-title {
    text-shadow: 0 1px 1px #000;
	font-size: 40px;
	margin-top: 0;
	text-align: center;
}

.image-grid {
    width: 100%;
}

.image-grid .item {
	width: 286px;
	display: block;
	float: left;
}

table.image-grid img {
    width: 100%;
}

.slide-img {
    float: left;
    margin-right: 50px;
    width: 50%;
}

